#root {
  margin: 0 auto;
  text-align: center;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.card {
  flex: 0 1 400px;
  height: 200px;
  padding: 1em;
  box-sizing: border-box;
}